{%- comment -%}
    @param p <product>
{%- endcomment -%}

<style>
    .premium-shipping__delivery-time {
        color: {{ settings.underheading_color }};
    }
</style>

<div class="premium-shipping">
    <h4 class="premium-shipping__heading">
        {{ settings.heading }}
    </h4>
    <p class="premium-shipping__delivery-time">
        {{ settings.underheading }} 
        <span class="premium-shipping__delivery-date"></span>
    </p>
    <div class="premium-shipping__message_wrapper">
        <span class="premium-shipping__message"></span>
        <span class="premium-shipping__time-display"></span>
    </div>
</div>

<script class="premium-shipping-data" type="application/json">
    {
        "shipping_begin": "{{ settings.shipping_begin }}",
        "shipping_end": "{{ settings.shipping_end }}",
        "default_delivery_days": "{{ settings.default_delivery_days }}",
        "product_delivery_days": "{{ p.metafields.shipping.delivery_days }}",
        "shop_time_zone": "{{ settings.shop_time_zone }}",
        "message_untill_close": "{{ settings.message_untill_close }}",
        "message_after_close": "{{ settings.message_after_close }}",
        "message_before_open": "{{ settings.message_before_open }}"
    }
</script>

<script src="{{ 'shipping-calculate.js' | asset_url }}" defer></script>